* {
  margin: 0;
  padding: 0;
}

.table thead th, p.import, footer.footer .copy {
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;
  color: #333333;
}
body h1 {
  font-family: "Alexandria", sans-serif;
  font-size: 4rem;
  color: #b4b469;
}
body h2, body h3, body h4 {
  font-family: "Alexandria", sans-serif;
  padding: 10px 0;
}
body h2 {
  font-size: 3rem;
  color: #b4b469;
}
body h3 {
  font-size: 1.7em;
  color: #333333;
}
body h4 {
  font-size: 1.6rem;
  color: #333333;
}

.historia,
.instructores,
.galeria,
.calendario,
.contacto {
  margin-bottom: 3rem;
}

/*header*/
header .superior {
  border-bottom: 1px solid #ddd;
}
header .log {
  width: 40%;
  margin: 10px 0;
}
header .logodojo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
header .head-dojo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .rs {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .rrss {
  text-decoration: none;
  padding: 10px;
}
header .rs a {
  font-size: 0;
  display: block;
  transition: transform 0.3s ease;
}
header .rs a:hover {
  transform: scale(1.3);
}
header .rrss img {
  width: 32px;
  height: 32px;
  margin-top: 10px;
}

.menu-principal {
  background-color: #232f3b;
}

.nav-link {
  color: #fff;
  font-weight: bold;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
  font-weight: bold;
}

.nav-link:focus,
.nav-link:hover {
  color: #b4b469;
  font-weight: bold;
}

/* navbar- toggler */
.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-end;
}

#mainNav .navbar-toggler {
  padding: 15px;
  text-transform: uppercase;
  color: #b4b469;
  border-color: #b4b469;
}

#mainNav .navbar-toggler:hover {
  text-decoration: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* footer */
footer.footer {
  background-color: #3C3C3B;
  color: #fff;
}
footer.footer .foot-log {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 10px;
}
footer.footer .foot-log img {
  width: 25%;
}
footer.footer .foot-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
footer.footer .foot-text .tit {
  font-size: 2rem;
  font-family: "Alexandria", sans-serif;
  margin-bottom: 0;
}
footer.footer .f-rrss {
  text-decoration: none;
  padding: 10px;
}
footer.footer .f-rrss img {
  width: 32px;
  height: 32px;
  margin-top: 10px;
}
footer.footer .foot-rs {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.footer .foot-rs a {
  font-size: 0;
  display: block;
  transition: transform 0.3s ease;
}
footer.footer .foot-rs a:hover {
  transform: scale(1.3);
}
footer.footer .Copyright {
  border-top: solid 1px #ddd;
}
footer.footer .copy {
  padding: 10px;
}

/* @medias */
@media (min-width: 992px) {
  header .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  header .logodojo .log {
    width: 60%;
    margin: 10px 0;
  }
  header .head-dojo h1 {
    font-size: 2.7rem;
  }
  header .menu-principal {
    background-color: #fff;
  }
  header .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #b4b469;
    font-weight: 900;
  }
  header .nav-link {
    text-align: center;
    color: #333333;
    padding: 15px 0;
    border-bottom: 1px solid #333333;
  }
  header .rs {
    display: none;
  }
  section h2 {
    font-size: 2rem;
  }
  /* historia */
  section .hist-im {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .historia .tani2 {
    display: none;
  }
  .historia .tani3 {
    display: flex;
  }
  /* footer */
  footer .foot-log {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .foot-log img {
    width: 45%;
  }
  footer .foot-text .tit {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .historia .hist-im {
    display: flex;
    justify-content: space-around;
  }
  .historia .tani2 {
    display: flex;
  }
  .historia .tani3 {
    display: none;
  }
  .calendario .table {
    padding: 0 25px 0 0;
  }
  footer .foot-log img {
    width: 25%;
  }
  footer .foot-log {
    padding: 10px 0;
  }
}
/*  inicio */
.conten-slider img {
  margin: 0px;
  width: 100%;
}

.barra-titulo {
  margin-top: 30px;
  background-color: #f3f6f5;
}

.test {
  margin-top: 1rem;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.profes {
  font-style: italic;
}

p.import {
  font-family: "Alexandria", sans-serif;
  font-size: 26px;
  color: #fff;
  padding: 30px 10px;
  margin: 1.5rem;
  background-image: linear-gradient(to bottom, #031e2b, #1b678d);
}

/* historia */
.card-title {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}

.tani3 {
  display: none;
}

/* instructores */
.card {
  margin-bottom: 2rem;
  border-color: #b4b469;
}

.img-thumbnail {
  border: 0;
  border-radius: 0;
}

/* galeria */
.card1 {
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.05);
}

/* calendario */
.table thead th {
  background-color: #b4b469;
  color: #3C3C3B;
  padding: 16px 8px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

tbody {
  font-size: 16px;
}

/* contacto */
.contacto button[type=submit] {
  background: #333333;
  border-color: #fff;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  transition: 0.4s;
}

.contacto button[type=submit]:hover {
  background: #333333;
  border-color: #fff;
  font-size: 21px;
  color: #fff;
}

i.bi.bi-send-check {
  color: #b4b469;
}

/*# sourceMappingURL=styles.css.map */
