//generales //variables
*{
    margin: 0;
    padding:0;
}

$colordorado:#b4b469;
$colorprimario:#333333;
$colordorado:#b4b469;
$fuente1:"Alexandria", sans-serif;
$fuentetext:"Lato", sans-serif;

// Usar mixin para mayor flexibilidad
@mixin relleno($padding: 10px 0) {
    padding: $padding;
}

//mixin
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

//seguimos con declaraciones
body {
    font-family: $fuentetext;
    color: $colorprimario; 
  
      h1 {
        font-family: $fuente1;
        font-size: 4rem;
        color: $colordorado;
      }
      h2, h3, h4 {
        font-family: $fuente1;
        @include relleno;
    }
      h2 {      
      font-size: 3rem;
      color: $colordorado;      
      }
      h3 {
        font-size: 1.7em;
        color: $colorprimario;         
      }
      h4 {        
        font-size: 1.6rem;
        color: $colorprimario;
      }
  }
  
  .historia,
  .instructores,
  .galeria,
  .calendario,
  .contacto {
    margin-bottom: 3rem;
  }
