//footer
/* footer */
footer.footer{
    background-color:#3C3C3B;
    color: #fff;
  }
  .foot-log {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 10px;
   
  }
  .foot-log img {
    width: 25%;
  }
  .tit {
    font-size: 2rem;
    font-family: "Alexandria";
    margin-bottom: 0;
  }
  .foot-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }
  .foot-rs { 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .foot-rs a {
    font-size: 0;
    display: block;
    transition: transform 0.3s ease;  
   }
  .foot-rs a:hover {
    transform: scale(1.3);
  }
  
  .Copyright {  
    border-top:solid 1px #ddd;
  }
  .copy {   
    text-align: center;
    padding: 10px; 
  }