//header
/*header*/
header {
  .superior {
    border-bottom: 1px solid #ddd;
  }

  .log {
    width: 40%;
    margin: 10px 0;
  }
  .logodojo {
    @include flex-center;
    justify-content: space-around;
  }
  .head-dojo {
    @include flex-center;
  }
  .rs { 
    @include flex-center;
  }
  .rrss .f-rrss {
    text-decoration:none;
    padding: 10px;
  }
  .rs  a {
    font-size: 0;
    display: block;
    transition: transform 0.3s ease;  
   }
   &:hover {
    transform: scale(1.3);
  } 
}
.rrss img{
  width:32px;
  height:32px;
  margin-top: 10px;  
}
    
.menu-principal {
  background-color: #232f3b;
}
    
.navbar-nav {
  .nav-link {
    color: white;
    font-weight: bold;
          
    &.active, &.show {
      color: white;
      font-weight: bold;
    }
      
    &:focus, &:hover {
      color: #b4b469;
      font-weight: bold;
    }
  }
}   
   
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-end;
}
#mainNav {
  .navbar-toggler {
    padding: 15px;
    text-transform: uppercase;
    color: $colordorado;
    border-color: $colordorado; 
  }
    &:hover {
        text-decoration: none;
    }
    &:focus{  
        box-shadow:none;
    }
  }