//@medias
/* @medias */

@media (min-width: 992px)  { 
  header .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
  } 
}
@media (max-width: 991px) {
  .logodojo .log {
    width: 60%;
    margin: 10px 0;
  }
  header .head-dojo h1{
    font-size: 2.7rem;
   } 
   header .head-dojo {
    display: flex;
    align-items: center;
  } 
  header .menu-principal {
    background-color: #fff;
  }
  header .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #b4b469;
    font-weight: 900;
  }
  header .nav-link {
    color: #333;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #b4b469;
  }
  header .rs{
    display: none;
  }
  section h2 {   
    font-size: 2rem;
   }   
  /* historia */
  section .hist-im {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .historia .tani2 {
    display: none;
  }
  .historia .tani3 {
    display: flex;
  }

  /* footer */  
  footer .foot-log {
    display: flex;
    justify-content: center;    
    align-items: center;
  }
  footer .foot-log img {
    width: 40%;
  }
  footer .tit {
    font-size: 1.8rem;  
  } 
}

@media (max-width: 768px) {
  .historia .hist-im {
    display: flex;
    justify-content: space-around;
  }
  .historia .tani2 {
    display: flex;
  }
  .historia .tani3 {
    display: none;
  }
  .calendario .table {
    padding: 0 25px 0 0;
  }
  footer .foot-log img {
    width: 25%;
  }
  footer  .foot-log{
  padding: 10px 0 0;
  }
}