//variables
*{
    margin: 0;
    padding:0;
}

$colordorado:#b4b469;
$colorprimario:#333333;
$white:#fff;
$fuente1:"Alexandria", sans-serif;
$fuente2:"Josefin Sans", sans-serif;
$fuentetext:"Lato", sans-serif;

// _extends.scss
%text-center {
    text-align: center;
  }

// Usar mixin para mayor flexibilidad
@mixin relleno($padding: 10px 0) {
    padding: $padding;
}

//mixin
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
