/* calendario */ 
//calendario
.table thead th {    
  background-color: $colordorado;
  color: #3C3C3B;
  padding: 16px 8px; 
  @extend %text-center;
  font-size: 18px;
  font-family: $fuentetext;
}
tbody {
  font-size: 16px;
}
