/* calendario */ 
//calendario
.table thead th {    
  background-color: #b4b469;
  color: #3C3C3B;
  padding: 16px 8px; 
  text-align: center;
  font-size: 18px;
  font-family: "Josefin Sans",sans-serif; 
}
tbody {
  font-size: 16px;
}
