/* contacto */
//contacto
.contacto button[type=submit] {
    background: $colorprimario; 
    border-color:$white;
    padding: 10px 20px;
    color:$white;
    font-weight: 600; 
    font-size: 20px;  
    transition: 0.4s; 
  }
  .contacto button[type=submit]:hover {
    background: $colorprimario;
    border-color:$white;
    font-size: 21px; 
    color:$white;
  }
  i.bi.bi-send-check {
    color:$colordorado;
  }
  