/*  inicio */
//inicio
.conten-slider img{ 
    margin: 0px;
    width: 100%;
  }
  .barra-titulo {
    margin-top: 30px; 
    background-color: #f3f6f5;
  }
  .test{
    margin-top: 1rem;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif
  }
  .profes {  
    font-style: italic;
  }
  p.import {
    font-family: 'Alexandria';
    font-size: 26px;
    text-align: center;
    color: #fff; 
    padding: 30px 10px;
    margin: 1.5rem;  
    background-image: linear-gradient(to bottom, #031e2b, #1b678d);
    
  }